/* GLOBAL */
* {
  scroll-behavior: smooth !important;
  margin: 0;
  padding: 0;
  font-family: "Sarabun", sans-serif;
}
html {
  scroll-padding-top: 4rem;
  scroll-behavior: smooth !important;
}
body {
  position: relative;
}
footer,
.parent-container {
  width: 100%;
  margin: 0 auto;
}
header a {
  text-decoration: none;
  color: #f6f1f1;
}
.statistics,
.government,
.solutions,
.help,
.contact {
  border: black;
  border-style: solid;
  display: flex;
  height: 100vh;
  background-color: #f6f1f1;
}

/* NAVBAR/HEADER */
.navbar {
  width: 100%;
  background-color: #146c94;
  top: 0;
}
#navbar nav {
  background-color: #146c94;
}
#navbar nav .navbar-nav .nav-link:hover {
  color: #f6f1f1;
  text-decoration: underline;
}

/* CONTACT SECTION */
.contact-form {
  width: 100%;
  display: grid;
  padding: 5rem;
  border: solid black;
}
.contact-form h1 {
  color: #146c94;
}
.form-box {
  max-width: 500px;
  margin: auto;
  padding: 50px;
  background: #ffffff;
  border: 10px solid #f2f2f2;
}

/* FOOTER */
footer {
  height: 4%;
}
